/WSProjeto/nbproject/private/
/WSProjeto/build/
/WSProjeto/dist/
/WebService/nbproject/private/
/WebService/build/
/WebService/dist/
/ProjetoJavaRest(Simone)/nbproject/private/
/ProjetoJavaRest(Simone)/build/
/ProjetoJavaRest(Simone)/dist/