/WSProjeto/nbproject/private/
/WSProjeto/build/
/WSProjeto/dist/
/WebService/nbproject/private/
/WebService/build/
/WebService/dist/
/ProjetoJavaRest(Simone)/nbproject/private/
/ProjetoJavaRest(Simone)/build/
/ProjetoJavaRest(Simone)/dist/
ClienteREST/src/main/java/ClientRest.java
*.java
ClienteREST/src/main/java/ClientRest.java
/ClienteREST/target/
ClienteREST/src/main/java/clienterest/ClientRest.java
*.java
